<div class="main-container">
  <section class="overlay fullscreen parallax image-bg pt0 pb0">
    <div class="background-image-holder">
      <img alt="Background" class="background-image" src="img/logo3.png" width="50" />
    </div>
    <div class="container v-align-transform">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 text-center">
          <h1>Fancy a little Parallax?</h1>
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>
  <section class="overlay fullscreen parallax image-bg pt0 pb0">
    <div class="background-image-holder">
      <img alt="Background" class="background-image" src="img/gateau11.png" />
    </div>
    <div class="container v-align-transform">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 text-center">
          <h2>Enable parallax on any section with a background image by adding the class 'parallax'.</h2>
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>
  <section class="overlay fullscreen parallax image-bg pt0 pb0">
    <div class="background-image-holder">
      <img alt="Background" class="background-image" src="img/serv5.jpg" />
    </div>
    <div class="container v-align-transform">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 text-center">
          <h1>Pretty neat, huh?</h1>
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>